[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BeviMed"]
	path = BeviMed
	url = https://github.com/cran/BeviMed
[submodule "gsEasy"]
	path = gsEasy
	url = https://github.com/cran/gsEasy
[submodule "hpoPlot"]
	path = hpoPlot
	url = https://github.com/cran/hpoPlot
[submodule "IntervalSurgeon"]
	path = IntervalSurgeon
	url = https://github.com/cran/IntervalSurgeon
[submodule "ontologyIndex"]
	path = ontologyIndex
	url = https://github.com/cran/ontologyIndex
[submodule "ontologyPlot"]
	path = ontologyPlot
	url = https://github.com/cran/ontologyPlot
[submodule "ontologySimilarity"]
	path = ontologySimilarity
	url = https://github.com/cran/ontologySimilarity
[submodule "paintmap"]
	path = paintmap
	url = https://github.com/cran/paintmap
[submodule "SimReg"]
	path = SimReg
	url = https://github.com/cran/SimReg
